@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
      font-family: 'Open Sans';

      position: absolute;
      height: 100%;
      width: 100%;
}

#navbar {
      background-color: white;
      position: relative;
      width: 100%;
      height: 15%;

      display: flex;
}

#navbar-left {
      position: relative;
      width: 25%;
      height: 100%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}

#navbar-middle {
      position: relative;
      width: 50%;
      height: 100%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}

#navbar-right {
      position: relative;
      width: 25%;
      height: 100%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}

#nav-title {
      font-weight: bold;
      font-size: 18px;
}

.middle-bar {
      background-color: #00B0BE;
      position: relative;
      width: 100%;
      height: 5%;
}

.main-menu {
      position: relative;
      width: 100%;
      height: 80%;
}

.left-menu {
      background-color: #282421;
      position: relative;
      float: left;
      height: 100%;
      width: 20%;
}

#button-1>form,
#button-2>form,
#button-3>form,
#button-4 {
      color: white;
      padding: 10% 10% 5% 10%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}

#img-button-1,
#img-button-2,
#img-button-3 {
      float: left;
      max-height: 40px;
      max-width: 38px;
      height: auto;
      width: auto;
}

#new-curriculum-button,
#edit-curriculum-button,
#admin-button,
#menu-principal {
      float: right;
      font-size: 15px;
      font-family: 'Open Sans';
      background-color: #282421;
      border: none;
      color: white;
      text-align: left;
      text-decoration: none;
      height: 40px;
      width: 80%;
}

.right-menu {
      position: relative;
      float: right;
      height: 100%;
      width: 80%;
}

#text-content {
      position: relative;
      float: left;
      height: 100%;
      width: 60%;
}

#text-pt1,
#text-pt2 {
      position: relative;
      width: 80%;
      line-height: 250%;

      margin: 10%;
}

#image-content {
      position: relative;
      float: right;
      height: 100%;
      width: 40%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center
}

#candidate-img {
      position: relative;

      max-height: 347px;
      max-width: 300px;
      height: auto;
      width: auto;
}