body {
      font-family: 'Open Sans';
    
      position: absolute;
      height: 100%;
      width: 100%;
}

.navbar {
      background-color: white;
      position: relative;
      width: 100%;
      height: 15%;
}

#nav-logo {
      display: inline;
      position: absolute;
      top: 25%;
      margin-left: 30px;
}

#nav-title {
      font-weight: bold;
      font-size: 18px;

      display: inline;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
}



.middle-bar {
      background-color: #00B0BE;
      position: relative;
      width: 100%;
      height: 5%;
}



.main-menu {
      position: relative;
      width: 100%;
      height: 80%;
}

.left-menu {
      background-color: #282421;
      position: relative;
      float: left;
      height: 100%;
      width: 20%;
}

#button-1,
#button-2,
#button-3 {
      color: white;
      padding: 50px 30px 50px 30px;
}

#img-button-1 {
      float: left;
      max-height: 40px;
      max-width: 38px;
      height: auto;
      width: auto;
}

#menu-principal {
    float: right;
      font-size: 15px;
      font-family: 'Open Sans';
      background-color: #282421;
      border: none;
      color: white;
      text-align: left;
      text-decoration: none;
      height: 40px;
      width: 80%;
}

.right-menu {
      position: relative;
      float: right;
      height: 100%;
      width: 80%;
}

#formacoes {
      position: relative;
      height: 62.7%;
      padding: 9px;
      padding-bottom: 30px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      overflow:auto;
}

#formacoes-label {
    font-weight: bold;
}

#add-formacao {
    position: relative;
    font-style: italic;
    padding: 35px 0px 0px 5%;
    height: 40px;
    width: 380px;
    left: 5%;
    z-index: 2;
}

#add-formacao:hover {
    cursor: pointer;
}

#add-formacao:before, #add-formacao:after {
  position: absolute;
  top: 25px;
  left: 10px;
  content: ' ';
  height: 35px;
  width: 2px;
  border: 5px solid #DDA100;
  background-color: #DDA100;
}
#add-formacao:before {
  transform: rotate(180deg);
}
#add-formacao:after {
  transform: rotate(-90deg);
}

.formacoes-fields {
    position: relative;
    border: 1px solid black;
    left: 5%;
    width: 85%;
    margin-top: 20px;
    padding: 20px;
}

.remover-formacao {
    position: relative;
    float: right;
    font-style: italic;
    padding: 10px;
    z-index: 2;
}

.remover-formacao:hover {
    cursor: pointer;
}

.remover-formacao:after {
  position: absolute;
  top: -2px;
  left: -40px;
  content: ' ';
  height: 35px;
  width: 2px;
  border: 5px solid #DDA100;
  background-color: #DDA100;
}

.remover-formacao:after {
  transform: rotate(-90deg);
}

.field {
      position: relative;
      margin: 10px;
}

.field>p {
      display: inline-block;
      margin: 5px;
}

.tipo-formacao-input {
    font-family: Open Sans;
    font-size: 12px;
    margin-left: 25px;
    height: 25px;
    width: 250px;
}

.nome-curso-input, .nome-instituicao-input {
    font-family: Open Sans;
    font-size: 12px;
    margin-left: 25px;
    height: 25px;
    width: 400px;
}

.data-inicio-curso-input, .data-fim-curso-input {
    font-family: Open Sans;
    font-size: 12px;
    margin-left: 25px;
    height: 25px;
    width: 200px;
}


#bottom-bar {
    position: relative;
    border-top: 15px solid #00B0BE;
    height: 25%;
    width: 100%;
}

#progress-bar {
      position: relative;
      display: grid;
      flex-direction: row;
      top: 20px;;
      left: 15%;
      height: 23%;
      width: 50%;
      font-size: 10px;
      text-align: center;

      grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px;
      grid-template-rows: 60px 10px 30px;
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 2;
}

#dados-cadastrais-progress {
      position: relative;
      background-color: #00B0BE;
      height: 60px;
      width: 60px;
      border-radius: 50%;

      grid-column: 1;
      grid-row: 1;
}

#dados-cadastrais-progress-label {
      grid-column: 1;
      grid-row: 3;
}

#middle-1 {
      position: relative;
      background-color: #00B0BE;
      height: 20px;
      width: 100px;
      left: -10px;
      z-index: -1;

      grid-column: 2;
      grid-row: 1;
      top: 30%;
}

#formacoes-progress {
      position: relative;
      background-color: #00B0BE;
      height: 60px;
      width: 60px;
      border-radius: 50%;

      grid-column: 3;
      grid-row: 1;
}

#formacoes-progress-label {
      grid-column: 3;
      grid-row: 3;
}

#middle-2 {
      position: relative;
      background-color: #282421;
      height: 20px;
      width: 100px;
      left: -10px;
      z-index: -1;

      grid-column: 4;
      grid-row: 1;
      top: 30%;
}

#experiencias-progress {
      position: relative;
      background-color: #282421;
      height: 60px;
      width: 60px;
      border-radius: 50%;

      grid-column: 5;
      grid-row: 1;
}

#experiencias-progress-label {
      grid-column: 5;
      grid-row: 3;
}

#middle-3 {
      position: relative;
      background-color: #282421;
      height: 20px;
      width: 100px;
      left: -10px;
      z-index: -1;

      grid-column: 6;
      grid-row: 1;
      top: 30%;
}

#cursos-extra-progress {
      position: relative;
      background-color: #282421;
      height: 60px;
      width: 60px;
      border-radius: 50%;

      grid-column: 7;
      grid-row: 1;
}

#cursos-extra-progress-label {
      grid-column: 7;
      grid-row: 3;
}

#middle-4 {
      position: relative;
      background-color: #282421;
      height: 20px;
      width: 100px;
      left: -10px;
      z-index: -1;

      grid-column: 8;
      grid-row: 1;
      top: 30%;
}

#finalizacao-progress {
      position: relative;
      background-color: #282421;
      height: 60px;
      width: 60px;
      border-radius: 50%;

      grid-column: 9;
      grid-row: 1;
}

#finalizacao-progress-label {
      grid-column: 9;
      grid-row: 3;
}

#next-page {
    position: relative;
    float: right;
    top: 8%;
    right: 50px;
}

#next-page-button {
    height: 40px;
    width: 120px;
    background-color: #DDA100;
    font-family: Open Sans;
    font-size: 15px;
    font-style: italic;
}

#next-page-button:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #DDA100;
	border-width: 40px;
	margin-top: -40px;
    margin-left: -15px;
}

#previous-page {
    position: relative;
    float: left;
    top: 30%;
    left: 50px;
}

#previous-page-button {
    height: 40px;
    width: 120px;
    background-color: #DDA100;
    font-family: Open Sans;
    font-size: 12px;
    font-style: italic;
}

#previous-page-button:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #DDA100;
	border-width: 40px;
	margin-top: -40px;
    margin-right: -15px;
}
