
<div class="right-menu">
  <div id="confirm">
    <p id="finalizacao-label">Finalizacao</p>
    <p id="finalizacao-message">“Declaro que os dados informados são verídicos e autorizo a Synergia a armazenar e
      compartilhar minhas informações com seus parceiros, clientes e fornecedores, caso
      seja necessário.”</p>
    <div id="finalizacao-button">
      <%= image_tag("/img/save-confirm.png", id:"img-button-2") %>
      <%= link_to "Concordar e Salvar Dados", candidatos_path, id:"link-button" %>
    </div>
  </div>

  <div id="bottom-bar">

    <div id="previous-page">
      <div id="previous-page-button">
        <%= link_to "Outros Cursos", "/courses/#{@id_forward_course}/edit", id:"previous-page-button-link" %>
      </div>
    </div>

    <div id="progress-bar">
      <div id="dados-cadastrais-progress"></div>
      <div id="dados-cadastrais-progress-label">Dados Cadastrais</div>
      <div id="middle-1"></div>
      <div id="formacoes-progress"></div>
      <div id="formacoes-progress-label">Formações</div>
      <div id="middle-2"></div>
      <div id="experiencias-progress"></div>
      <div id="experiencias-progress-label">Experiências</div>
      <div id="middle-3"></div>
      <div id="cursos-extra-progress"></div>
      <div id="cursos-extra-progress-label">Outros Cursos</div>
      <div id="middle-4"></div>
      <div id="finalizacao-progress"></div>
      <div id="finalizacao-progress-label">Finalização</div>
    </div>

    <div id="next-page">
    </div>
  </div>
</div>
