<!DOCTYPE html>
<html>

<head>
  <title>Synergia | Sistema de Gerenciamento de Currículos</title>

  <link rel="stylesheet" type="text/css" href="../../../public/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" href="../../../public/stylesheets/candidatos/menu/mainMenu.css" />
  <link rel="stylesheet" type="text/css" href="../../../public/stylesheets/confirm/confirm.css" />
</head>

<body>
  <div id="navbar">
    <div id="navbar-left">
      <img id="nav-logo" src="../../../public/img/topo-logo-synergia.png">
    </div>
    <div id="navbar-middle">
      <div id="nav-title">Sistema de Gerenciamento de Currículos</div>
    </div>
    <div id="navbar-right">
      <div id="nav-user"></div>
    </div>
  </div>
  <div class="middle-bar"></div>
  <div class="main-menu">
    <div class="left-menu">
      <div id="button-4">
        <img id="img-button-1" src="../../../public/img/menu-principal.png">
      </div>
    </div>
    <div class="right-menu">
      <div id="confirm">
        <p id="finalizacao-label">Finalizacao</p>
        <p id="finalizacao-message">“Declaro que os dados informados são verídicos e autorizo a Synergia a armazenar e
          compartilhar minhas informações com seus parceiros, clientes e fornecedores, caso
          seja necessário.”</p>
        <div id="finalizacao-button">
          <img id="img-button-2" src="../../../public/img/save-confirm.png">
          <div id="link-button">Concordar e Salvar Dados</div>
        </div>
      </div>

      <div id="bottom-bar">

        <div id="previous-page">
          <div id="previous-page-button">
          </div>
        </div>

        <div id="progress-bar">
          <div id="dados-cadastrais-progress"></div>
          <div id="dados-cadastrais-progress-label">Dados Cadastrais</div>
          <div id="middle-1"></div>
          <div id="formacoes-progress"></div>
          <div id="formacoes-progress-label">Formações</div>
          <div id="middle-2"></div>
          <div id="experiencias-progress"></div>
          <div id="experiencias-progress-label">Experiências</div>
          <div id="middle-3"></div>
          <div id="cursos-extra-progress"></div>
          <div id="cursos-extra-progress-label">Outros Cursos</div>
          <div id="middle-4"></div>
          <div id="finalizacao-progress"></div>
          <div id="finalizacao-progress-label">Finalização</div>
        </div>

        <div id="next-page">
        </div>
      </div>
    </div>
  </div>
</body>

</html>