@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans';

  position: absolute;
  height: 100%;
  width: 100%;
}

#background-menu {
  position: absolute;

  background-image: url(/img/index-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

#menu-items {
  position: relative;
  background-color: #F5F5F5;
  height: 95%;
  max-height: 500px;
  width: 40%;
  max-width: 400px;
  margin: auto;
}

#new_user {
  position: relative;
  height: 100%;
  width: 100%;
}

#logos {
  position: relative;
  top: 2.5%;
  height: 15%;
  width: 100%;
}

#logo-1 {
  position: relative;
  float: left;
  left: 15%;
}

#logo-2 {
  position: relative;
  float: right;
  right: 15%;
}

#title-user {
  font-size: 20px;
  font-weight: bold;
  color: #8F918F;

  position: relative;
  height: 5%;
  width: 100%;
  padding-bottom: 2.5%;
  text-align: center;
}

.field {
  position: relative;
  height: 10%;
  width: 60%;
  margin: auto;
  padding: 2.5% 0% 2.5% 0%;
}

.ipt-text,
.ipt-label {
  height: 40%;
  width: 100%;
  font-size: 15px;
  margin: 5% 0% 5% 0%;
}

.buttons {
  position: relative;
  height: 8%;
  width: 60%;
  margin: auto;
  padding-top: 2%;
}



#btn-signup,
#btn-signin {
  position: relative;
  height: 100%;
  width: 100%;

  font-family: Open Sans;
  font-size: 15px;
  color: white;
  background-color: #DBA102;
  cursor: pointer;

  text-align: center;
}

#btn-signin>a {
  position: relative;
  top: 25%;
  text-decoration: none;
  color: white;
}

.error-message {
  position: fixed;
  right: 25px;
  top: 25px;
  padding: 10px;

  font-size: 14px;
  background-color: cornsilk;
  border: 1px solid black;
}