<!DOCTYPE html>
<html>
  <head>
    <title>Synergia | Banco de Dados de Currículos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'users/registrations/registrations', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= yield %>
  </body>
</html>
